[submodule "secretary-office"]
	path = secretary-office
	url = https://github.com/barssim/secretary-office.git
[submodule "ecole-docs"]
	path = ecole-docs
    url = https://github.com/barssim/ecole-docs.git
[submodule "ecole-organigramm"]
	path = ecole-organigramm
    url = https://github.com/barssim/ecole-organigramm.git
